{
  "extends": [
    "@sparkgeo/eslint-config-react"
  ],
  "rules": {
    "jsx-quotes": "off",
    "react/no-array-index-key": "off",
    "no-restricted-globals": "warn",

  },
  "globals": {"location": true }
}
